@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;600;700&family=Source+Code+Pro&family=Space+Mono:ital@1&display=swap');

div.card{
    border: 2px solid white;
    border-radius:10px;
    justify-content: center;
    text-align: center;
    display:inline-block;
    width:500px;
    margin:10px;
    margin-inline:10px;
    overflow: hidden;
    box-shadow: 10px 10px 40px rgba(43, 43, 43, 0.25);
    transition: all 0.3s ease 0s;
}
div.card:hover{
    transform: scale(1.1);
    translate: 0px -5px;
}
div img.card{
    height:100%;
    width:100%;
    border-radius: inherit;
    cursor: pointer;
}
div h2{
    text-align: left;
    Color : rgb(0,139,250);
    font-weight: bold;
    text-decoration: underline;
}
div.intro{
    background-color: black;
    padding:10px;
    height:25%;
    overflow: auto;
}
