@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Space+Mono:wght@400;700&display=swap");
:root {
  --clr-text: rgb(177, 177, 177);
  --clr-pop: rgb(0, 139, 255);
}
/* Adding a scroll bar css */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);

}
::-webkit-scrollbar-thumb {
  background:rgb(0, 139, 255);
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 139, 250, 0.8);

}
* {
  margin: 0;
  padding: 0;
  color: var(--clr-text);
  font-family: "Space Mono", "Rubik Mono One";
}
body {
  background-color: black;
}
section {
  margin-block: 10px 20px;
  /* height: 700px; */
}
footer{
  text-align: center;
  font-size: .75rem;
  color:rgb(75, 75, 75)
}
div{
  /* border:2px solid red; */
  /* align-items: center; */
  justify-content: center;
  margin-inline: 10px;
  margin-block:10px;
}
a {
  text-decoration: none;
}
.navlist {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 2px 15px rgba(0, 139, 250, 0.5);
  cursor: pointer;
  position: sticky;
  top:0px;
  background-color: inherit;
  z-index: 1;
}
#icon {
  height: 25px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin-inline: 5px;
}
nav li a {
  text-decoration: none;
  transition: all 0.3s ease;
}
nav li a:hover {
  color: var(--clr-pop);
}
.btn {
  background-color: rgba(0, 133, 250, 1);
  color: white;
  text-emphasis: bold;
  padding: 5px;
  /* margin-inline: auto; */
  border-radius: 5px;
  width: 10%;
  transition: all 0.3s ease;
  /* box-shadow: 0px 10px 30px rgba(0, 139, 250, 0.5); */
}
.btn:hover {
  background-color: rgba(0, 139, 250, 0.8);
}
#col_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#row_cont {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px;
}
h2{
  font-size:3rem;
  text-align: center;
}
h3 {
  font-size: 2rem;
}
img#profile {
  margin-top: 20px;
  width: 300px;
  border: 2px solid var(--clr-pop);
  border-radius: 150px;
}
h1 {
  font-family: "Rubik Mono One";
  font-size: 5rem;
  font-weight: 300;
}
p.hero {
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
}
.em {
  color: var(--clr-pop);
  font-size: 1.25em;
  font-weight: bolder;
  text-decoration: underline;
}
.reach {
  margin: 20px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid aliceblue;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.reach:hover {
  transform: scale(1.2);
  background-color: var(--clr-pop);
  color: black;
  font-weight: bolder;
  box-shadow: 0px 5px 20px rgba(0, 139, 250, 0.5);
}
.abm{
  padding:20px;
  margin:10px;  
}
img.profile{
  width:500px;
  margin:5px;
  border: 3px solid var(--clr-pop);
  border-radius: 10px;
}
h4{
  font-size: 1.25rem;
  color:var(--clr-pop);
  text-align: center;
}
div.box{
  display: inline;
  padding:10px;
 justify-items: center;
}
img.skill{
 height:100px;
 margin: 0px auto;
 transition: all 0.3s ease 0s;
}
img.skill:hover{
  transform: scale(1.1);
  translate: 0px -10px;
}
.slider_container{
  padding: 20px;
  height:500px;
}
.slider{
  height: 100%;
  margin: auto;
  /* padding: 20px; */
  display: flex;
  overflow:hidden;
  scroll-snap-type: x mandatory;
  aspect-ratio: 16/9;
  scroll-behavior: smooth;
  border-radius: 50px;
  box-shadow: 0px 0px 40px rgba(77, 77, 77, 0.781);
}
.slider img{
  flex: 1 0 100%;
  height: 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider_nav{
  display: flex;
  column-gap: 1rem;
  margin:10px;

}
img.social{
  height:30px;
  margin-inline: 5px;

}
form{
  margin: 10px;
  padding:10px;
  border-radius: 20px;
  background-color: rgba(0, 2, 126, 0.39);
}


